
/*---- vEX Namespace ---*/
.vex-validator { display:none;}

/*---- vEX.UI ---*/
.uiBtnRemove {background: url(../img/delete.gif) no-repeat;background-position: 5px 8px; padding:1em;display: inline-block; }
.uiBtnRemove:hover{background-image: url(../img/deleteOver.gif); }
.uiTxtWatermark{color: #999; vertical-align:middle; font-weight:bold; text-align:center;}
.uiInfoTip{background: transparent url(../img/question.gif) no-repeat;background-position: 0px 10px; padding:1em; }
#uiInfoTipText{position:absolute;display:none;padding:.5em;background: #e8f8fe url(../img/info.gif) no-repeat;background-position: 7px 7px; border: 1px solid #cfdfe5;font-weight: 400;color: #004a80;padding: 8px 8px 8px 28px;text-align: left;-moz-border-radius: 5px;-webkit-border-radius: 5px;-khtml-border-radius: 5px;border-radius: 5px;}
.uiLoadingPanel{background-image: url(../img/loadingCS.gif); background-repeat: no-repeat;background-position:center;height:100%; width:100%; }
.uiLoader{background: transparent url(../img/loadingCS.gif) no-repeat;background-position: 5px 8px; padding:1em; display: inline-block; }
.uiLoadingHL {background: transparent url(../img/loadingHL.gif) no-repeat;background-position:center;}
.uiLock {background: transparent url(../img/lock.png) no-repeat;background-position:center;}
.uiMsgLoading{background: #F8F8F8 url(../img/loadingCS.gif) no-repeat;background-position: 7px 7px;}
.vldStar {color:Red;}
.uiOverlay{position: absolute;left: 0;top: 0;width:100%;height:100%;z-index: 1000;color:#000 !important;background-color:#fff !important;opacity: 0.7;filter: alpha(opacity=70);-moz-opacity: 0.7;}
.uiLoadingHL {background: transparent url(../img/loadingHL.gif) no-repeat;background-position:center;}

/*--------------- Message Boxes ------------ */
.msgBoxSuccess{background: #e5f7e3 url(../img/success.gif) no-repeat;background-position: 2px 2px;border: 1px solid #c5e1c8;
               font-weight: 400;color: #005e20;text-align: left;
               padding: 5px 5px 5px 25px;
               -moz-border-radius: 5px;-webkit-border-radius: 5px;-khtml-border-radius: 5px;border-radius: 5px;
               }
.msgBoxSuccess ul, .msgBoxSuccess ol{ padding: 5px 5px 5px 20px;}
.msgBoxError , .validation-summary-errors
{
    background: #ffebeb url(../img/error.gif) no-repeat;background-position: 5px 5px;border: 1px solid #f5c1c2;
    font-weight:normal;color: #9e0b0f;text-align: left;
    padding: 5px 5px 5px 25px;
    -moz-border-radius: 5px;-webkit-border-radius: 5px;-khtml-border-radius: 5px;border-radius: 5px;
}
.msgBoxError ul,.msgBoxError ol , .validation-summary-errors ul, .validation-summary-errors ol{ padding: 5px 5px 5px 20px;}
.msgBoxError ul li , .validation-summary-errors ul li{ list-style-type: square; margin: 0px; padding: 0px; padding-top: 5px; color: #9e0b0f; font-weight:normal;}
.msgBoxWarning
{
    background: #fffeeb url(../img/warning.gif) no-repeat;
    background-position: 2px 2px; border: 1px solid #e6e5d8; font-weight: 400; color: #888;text-align: left;
    padding: 5px 5px 5px 25px;
    -moz-border-radius: 5px;-webkit-border-radius: 5px;-khtml-border-radius: 5px;border-radius: 5px;
}
.msgBoxWarning ul, .msgBoxWarning ol{ padding: 5px 5px 5px 20px;}
.msgBoxWarning ul li { list-style-type: square; margin: 0px; padding: 0px; padding-top: 5px; color: #888; }
.msgBoxWarning ol li { margin: 0px; padding: 0px; padding-top: 5px; color: #888;}
.msgBoxInfo{ background: #e8f8fe url(../img/info.gif) no-repeat; -moz-border-radius: 5px;-webkit-border-radius: 5px;-khtml-border-radius: 5px;border-radius: 5px; background-size:24px; background-position: 3px 3px; border: 1px solid #cfdfe5;font-weight: 400;color: #004a80;padding: 8px 8px 8px 28px;text-align: left;}
.msgBoxInfo ul, .msgBoxInfo ol{ padding: 2px 5px 5px 20px;}
.msgBoxInfo ul li { list-style-type: square; margin: 0px; padding: 0px; padding-top: 5px; color: #004a80; }
.msgBoxInfo ol li { margin: 0px; padding: 0px; padding-top: 5px; color: #004a80;}
.msgBoxQuestion{ background: #e8f8fe url(../img/question.gif) no-repeat; background-position: 7px 7px;border: 1px solid #cfdfe5;font-weight: 700;color: #004a80;padding: 8px 8px 8px 28px;text-align: left;}
.msgBoxLoading
{
    background: #F8F8F8 url(../img/loadingCS.gif) no-repeat;
    background-position: 7px 7px;font-weight: 700; text-align: left;color: #909090;padding: 8px 8px 8px 28px; border: 1px solid #E8E8E8;
               -moz-border-radius: 5px;-webkit-border-radius: 5px;-khtml-border-radius: 5px;border-radius: 5px;
}